.lead__title {
  margin: 0 auto 24px;
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 426px) and (max-width: 768px) {
  .lead__title {
    max-width: 480px;
    font-size: 60px;
    line-height: 64px;
  }
}
@media (max-width: 425px) {
  .lead__title {
    margin: 0 auto 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
