.lead__image {
  margin: 0 0 8px 0;
  padding-bottom: 62.5%;
  max-width: 984px;
  position: relative;
  background-image: url('../../../images/lead-polka.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

